{% extends "layout.html" %}
{% load static %}

{% block contenedor %} 
    <!--========================================================== -->
			    <!-- Portada-->
    <!--========================================================== -->
    <main> 
      <div class="d-flex p-5 justify-content-start w-100 h-100" style="background-image:url({% static 'img/perros-mosaico.png' %}); background-attachment:fixed; background-size: auto; background-repeat:repeat;"> 
  <div class="py-5">
     <div class="row card-index g-0 p-3 col-lg-5 border border-secondary rounded shadow mt-5 ms-md-5">
  <div class="card-body">
    <div class="row p-4">
      <img id="logo-simple" src="{% static 'img/logo-simple.png' %}">
    </div>

    <p class="card-text"> Bienvenidos a tuVeterinaria, una plataforma digital diseñada para gestionar todos los cuidados que necesitás para tu mascota. </p>
    <p class="card-text">Desde acá podrás pedir turno de consulta veterinaria, de peluquería, comprar productos para tu mascota, controlar los ciclos de vacunación de tu mascota y muchas otros servicios.  </p>
  </div>
</div>
  </div> 
</div>
</main>
    <!--========================================================== -->
			    <!-- WhatsApp -->
    <!--========================================================== -->

<div class="col-3">
<div class="whatsapp_ic "  >
  <a href="https://api.whatsapp.com/send?phone=5492236036096" class="btn-wsp" target="_blank">
    <i class="fab fa-whatsapp fa-4x"></i>
  </a>
</div>
</div>





    <!--========================================================== -->
			    <!-- Servicios -->
    <!--========================================================== -->

<div class="container h-100 w-md-75 ">

  <div class="container row my-3 my-md-5">
      <div class="col-lg-2 d-none d-md-block mt-md-1 animado">
          <a href="{% url 'alimentos' %}">  <img class="p-2 img-thumbnail float-left icono-seccion " src="{% static 'img/alimentos.png' %}" alt="Icono de alimento balanceado"></a>
    </p>
	      </div>
  <div class="col">
  <div class="p-2">
      <a href="{% url 'alimentos' %}" class="enlace-seccion  py-md-2"><h3 class="titulo-seccion"><b>Alimento balanceado para su mascota</b></h3></a>
      <div class="py-2">
	  <p>Los alimentos balanceados para mascotas están disponibles en una variedad de opciones para satisfacer las necesidades nutricionales de tu mascota. Hay alimentos para gatos, perros y otras mascotas que están formulados para diferentes etapas de la vida, tamaños y necesidades de salud.
      También hay alimentos específicos para mascotas con necesidades dietéticas especiales, como alergias alimentarias o problemas de salud.
      </p>
      <p>Es importante recordar que no todos los alimentos para mascotas son iguales. Al elegir un alimento balanceado, debes buscar opciones de alta calidad que estén hechas con ingredientes nutritivos y sin subproductos animales, conservantes artificiales o colorantes. Si tienes preguntas sobre cómo elegir un alimento balanceado adecuado para tu mascota, no dudes en consultarnos. Estamos aquí para ayudarte.
      </p>
      </div>
      </div>
    </div>
    </div>

  <div class="container row mt-5">
      <div class="col-lg-2 d-none d-md-block mt-4 mt-md-1 animado">
          <a href="{% url 'accesorios' %}"><img class="p-2 img-thumbnail float-left icono-seccion"  src="{% static 'img/collar.png' %}" alt="icono de una jeringuilla"></a>
		    </div>
    <div class="col">
      <div class="p-2">
          <a href="{% url 'accesorios' %}" class="enlace-seccion"><h3 class="titulo-seccion"><b>Accesorios diversos para todo tipo de animales</b></h3></a>
    </div>
      <div class="p-2">
	<p>Desde juguetes hasta camas y ropa, tenemos todo lo que necesitas para asegurarte de que tu mascota tenga todo lo que necesita para estar cómodo y feliz en su hogar. Nuestros accesorios para mascotas están diseñados pensando en la seguridad y la durabilidad, y están hechos con materiales de alta calidad que pueden soportar el uso diario.</p>
    <p>Si tienes preguntas sobre los accesorios para mascotas que ofrecemos o si necesitas ayuda para encontrar algo en particular, no dudes en ponerte en contacto con nosotros. Estamos aquí para ayudarte a encontrar los mejores accesorios para tu mascota que lo mantendrán feliz y cómodo en su hogar.</p>
      </div>
    </div>
    </div>

<div class="container row my-5">
      <div class="col-lg-2 mt-4 d-none d-md-block mt-md-1 animado">
          <a href="{% url 'farmacia' %}"><img class="p-2 img-thumbnail icono-seccion" src="{% static 'img/veterinario1.png' %}" alt="icono de un juguete para perros"></a>
		    </div>
    <div class="col">
	<div class="p-2 ">
        <a href="{% url 'farmacia' %}" class="enlace-seccion"><h3 class="titulo-seccion"><b>Productos farmacéuticos para la salud de su mascota</b></h3></a>
      </div>
    <div class="p-2">
      <p>En nuestra clínica veterinaria, nos tomamos muy en serio la salud de tus mascotas. Además de ofrecer servicios médicos de alta calidad, también ofrecemos una farmacia para mascotas que cuenta con una amplia variedad de medicamentos y productos de salud para mantener a tu mascota saludable y feliz.</p>
      <p>Desde medicamentos recetados hasta productos de cuidado dental y suplementos nutricionales, nuestra farmacia para mascotas está completamente equipada para satisfacer todas las necesidades de salud de tu mascota. Nuestros productos están diseñados para ser seguros y efectivos para una amplia variedad de mascotas, y todos nuestros medicamentos son prescritos por nuestros veterinarios expertos y calificados.
    </p>
    </div>
    </div>
</div>



</div>
</div>


    <!--========================================================== -->
		<!-- Comentarios de usuarios -->
    <!--========================================================== -->
<div class="container-fluid bg-dark min-vh-100">
  <div class="container pt-5">
    <h3 class="font-wight-bold mt-4 text-light d-flex justify-content-center"> Algunas experiencias de usuarios:</h3>
  </div> 
    <div class="container row w-sm-100 w-lg-75">
      <div class="col-md-3 text-center">
      <img class="user-comment mt-4" src="{% static 'img/usuario1.jpg' %}" alt="imagen de un usuario">
      </div>
      <div class="col-md-9">
      <h5 class="font-weight-bold text-light p-4">Laura Mangolini </h5>
      <p class="text-light text-left">““¡Muy cómodo y fácil! Funciona de 10 la app, yo la uso desde el celular y en cualquier momento pido turno para mi perrito y mi gata. En tuVeterinaria gestionan todo y me olvido. Antes siempre se me pasaban las fechas de las vacunas y tenía que llamar en un horario para pedir turno."</p>"
      </div>
    </div>
    <div class="container row w-sm-100 w-lg-75">
      <div class="col-md-3 text-center">
      <img class="user-comment mt-4" src="{% static 'img/usuario2.jpg' %}" alt="imagen de un usuario">
      </div>
      <div class="col-md-9">
      <h5 class="font-weight-bold text-light p-4">Pedro Jiménez Suárez</h5>
      <p class="text-light text-left">“Estamos encantados! Desde tuVeterinaria gesionamos todo. Soy algo despistado con las fechas y gracias a esta plataforma estamos llevando al día los ciclos de vacunación y las consultas periódicas."</p>
      </div>
    </div>




</div>
  


    <!--========================================================== -->
			    <!-- FAQ -->
    <!--========================================================== -->


  <div class="container p-4 my-5 min-vh-100 w-74">

<div class="mt-4 p-2 text-center">
  <h3 class="font-weight-bold">Preguntas Frecuentes (FAQ)</h3>
</div>
<ul>  <div class="p-2">
    <li><h5 class="font-weight-bold">¿Para qué tipo de mascotas es tuVeterinaria?</h5> </li>	
      </div>
      <div>
	  <p class="text-justify">En tuVeterinaria damos servicio a una gran variedad de especies de mascotas: perros, gatos, conejos, tortugas, roedores, etc.
En el caso de las aves y reptiles atendemos los más comunes, pero en el caso de que no sea una especie domética y sea catalogada como exóticapreferimos derivar a especialistas en la materia. No dudes en consultes si no sabés si tu mascota es exótica o <span id="points1">...</span>
  
	    <span id="moreText1" style="display: none;"> animal menos común puede ser atendido. Para ello le sugerimos ir a la sección de contacto.</span>
	  <a onclick="toggleText1()" id="textButton1" class="link-dark read-more"> Leer más</a>
	</p>
      </div>

  <div class="p-2">
	<li><h5 class="font-weight-bold">¿Para qué especie es el servicio de peluquería?</h5></li>	
      </div>
      <div>
	<p class="text-justify">El servicio de peluquería de tuVeterinaria está destinado a perros de pelo largo, aunque podemos hacer excepciones. En el caso de perros de pelo corto no aconsejamos recortar de más el pelo, aunque si el servicio viene dado por alguna recomendación médica podremos realizar el servicio sin problema. En el caso de otros mamíferos, <span id="points2">...</span>
  
	    <span id="moreText2" style="display: none;"> recomendamos preguntar antes de pedir turno por si a la especie en cuestión no se le debe recortar el pelo, como sucede con la mayoría de los mamíferos domésticos. Para ello pueden consultar en nuestra sección de contacto. </span>
	  <a onclick="toggleText2()" id="textButton2" class="link-dark read-more"> Leer más</a>
	</p>
      </div>


  <div class="p-2">
	<li><h5 class="font-weight-bold">¿Cómo sé qué vacuna debo darle a mi mascota?</h5></li>	
      </div>
      <div class="">
	<p class="text-justify">Los ciclos de vacunación se administra gestinan únicamente mediante una consulta presencial con tuVeterinaria. Así, podemos tener el cuidado y el contro necesario que	    <span id="points3">...</span>
  
	    <span id="moreText3" style="display: none;"> necesita un proceso delicado como lo es la vacunación. En el caso de que el animal venga recibiendo vacunas por otra vía, es recomendable presentar la cartilla de vacunación, si la hubiere, para tener el máximo cuidado posible con ello.  </span>
	  <a onclick="toggleText3()" id="textButton3" class="link-dark read-more"> Leer más</a>
	</p>

      </div>


  <div class="p-2">
	<li><h5 class="font-weight-bold">¿Cómo puedo pagar un turno?</h5></li>	
      </div>
      <div class="">
	  <p class=""text-justify>El pago se realiza en la propia consulta o el propio servicio. Si, por algún motivo, se quisiera realizar el pago de manera adelantada, el procedimiento	    <span id="points4">...</span>
  
	    <span id="moreText4" style="display: none;"> será enviado por el propio formulario contacto de este espacio web. Desde ahí, nuestro departamento de compras indicarán los pasos a seguir y las formas de pago.</span>
	  <a onclick="toggleText4()" id="textButton4" class="link-dark read-more"> Leer más</a>
	</p>
      </div>

  <div class="p-2">
	<li><h5 class="font-weight-bold">¿Puedo cancelar un turno?</h5></li>	
      </div>
      <div class="">
	<p class="text-justify">¡Sí, por supuesto! Entendemos que los planes pueden cambiar, por eso todas las reservas de tuVeterinaria en caso de haber abonado tienen un reembolso del <span id="points5">...</span>
  
	    <span id="moreText5" style="display: none;"> 100%. De todas maneras, reiteramos que el pago puede realizarse en la misma consulta o servicio de peluquería, sin ningún problema. </span>
	  <a onclick="toggleText5()" id="textButton5" class="link-dark read-more"> Leer más</a>
	</p>
      </div>
</ul>
  
  
<p><a href="#">Lee más Preguntas Frecuentes (FAQ) en nuestro Centro de ayuda</a></p>
  </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollTrigger/1.0.5/ScrollTrigger.min.js"></script>

	<script src="{% static 'JS/script.js' %}"></script>

{% endblock %}
