{% extends "layout.html" %}
{% load static %}

{% block contenedor %} 

    <!--========================================================== -->
			    <!-- Portada-->
    <!--========================================================== -->
    <main> 
      <div class="d-flex p-5 justify-content-start w-100 h-100" style="background-image:url({% static 'img/perros-mosaico.png' %}); background-size: auto; background-repeat:repeat;"> 
  <div class="py-5">
<div class="card p-2 shadow border border-secondary rounded ms-md-5" style="width: 32rem;">
  <div class="card-body">
    <h3 class="card-title">tuVeterinaria</h3>
    <p class="card-text"> Bienvenidos a tuVeterinaria, una plataforma digital diseñada para gestionar todos los cuidados que necesitás para tu mascota. </p>
    <p class="card-text">Desde acá podrás pedir turno de consulta veterinaria, de peluquería, comprar productos para tu mascota, controlar los ciclos de vacunación de tu mascota y muchas otros servicios.  </p>
  </div>
</div>
  </div> 
</div>
</main>

    <!--========================================================== -->
			    <!-- Secciones -->
    <!--========================================================== -->

  <div class="container h-100" style="width: 80%;">

      <div class="row mt-3">
      <div class="row">
       <img class="p-2" src="{% static 'img/estetoscopio.png' %}">
      </div>

<div class="row">
  <div class="p-2">
	<h5>Pedí tu turno de consulta veterinaria</h5>
      </div>
      <div class="row p-2">
	  <p>     En tuVeterinaria gestionamos los turnos de consulta veterinaria. Seleccioná la fecha y el horario entre las disponibles y le confirmaremos su turno. Además, un día antes de la fecha te recordaremos el horario mediante email y/o WhatsApp.</p>
      </div>
</div>
<div class="row">
  <img class="p-2" src="{% static 'img/jeringuilla.png' %}">

</div>

  <div class="row">
  <div class="row p-2">
	<h5>Organizamos los ciclos de vacunación</h5>
    </div>
  <div class="row p-2">
	<p>     Cada año los animales necesitan una serie de cuidados, entre ellos, se debe cumplir con los ciclos de vacunación. Si resgistrás a tu mascota en tuVeterinaria te recordaremos cuando se cumpla la fecha y facilitaremos tu turno directamente para ello.</p>
      </div>
</div>

<div class="row">
	<img class="p-2" src="{% static 'img/dog-toy.png' %}">
</div>

<div class="row">

  <div class="row">
	  <h5>Adquirí productos para tu mascota</h5>
      </div>
    <div class="row">
      <p>     Compra productos para tu mascota. Juguetes, alimento balanceado, premios, etc. Tenemos un amplio catálogo disponible para su mascota y contamos con servicio de envío a domicilio.</p>
    </div>
</div>

<div class="row">
  <img class="p-2" src="{% static 'img/tijeras.png' %}">

</div>
  <div class="row">
	  <h5>Pedí tu turno de peluquería</h5>
      </div>
    <div class="row">
      <p>      También gestionamos turno para poder cortar el pelo a sus mascotas. De una manera fácil y sencilla, podrás elegir día y horario entre los disponibles. Igual que en las consultas veterinarias, recibirás un mensaje recordatorio por la vía que elijás un día antes de tu turno.</p>
    </div>
</div>


</div>

</div>



  <div class="container" style="width: 80%;">

<div class="row mt-4 p-2">
	<h3>¿Por qué Doggy?</h3>
</div>

<div class="row mt-3">
<div class="col-md-1 col-sm-12">
  <img class="p-2" src="{% static 'img/huella.png' %}">
</div>

<div class="col-md-3 col-sm-12">
  <div class="row p-2">
	<h5>Beneficios para tu perro</h5>
      </div>
      <div class="row p-2">
	<ul>
	  <li>Atención personalizada en un hogar familiar</li>
	  <li>No más jaulas</li>
	  <li>Muchos paseos, juegos y mimos</li>

	</ul>	
      </div>
</div>
<div class="col-md-1 col-sm-12">
  <img class="p-2" src="{% static 'img/beneficio.png' %}">

</div>

<div class="col-md-3 col-sm-12">
  <div class="row p-2">
	<h5>Beneficios para vos</h5>
    </div>
  <div class="row p-2">
	<ul>
	  <li>+15.000 cuidadores evaluados por Doggy</li>
	  <li>Valoraciones y comentarios de otros propietarios de perros</li>
	</ul>	


      </div>
</div>

<div class="col-md-1 col-sm-12">
  <img class="p-2" src="{% static 'img/tranquilidad.png' %}">
  
</div>

<div class="col-md-3 col-sm-12">

  <div class="row">
	  <h5>Tranquilidad</h5>
      </div>
    <div class="row">
	<ul>
	  <li>Cobertura veterinaria con cada reserva</li>
	  <li>Mensajes y pago seguro online</li>
	  <li>Actualizaciónes diarias de fotos y mensajes</li>

	</ul>	
    </div>
</div>
</div>
</div>

    <!--========================================================== -->
		<!-- Comentarios de usuarios -->
    <!--========================================================== -->
  <div class="container-fluid bg-dark p-5 min-vh-100">
    <div class="container row w-sm-100 w-lg-75 p-5 my-5">
      <div class="col-md-3 text-center">
      <img class="user-comment mt-4" src="{% static 'img/user1.png' %}">
      </div>
      <div class="col-md-9">
      <h5 class="font-weight-bold text-light p-4">Tomas Bravo de María Laura Montez</h5>
      <p class="text-light text-left">“Mejor imposible! Era la primera vez que utilizábamos la aplicación y a una cuidadora, María Laura es muy atenta en todo momento nos tuvo informados, con fotos y vídeos a la pequeña se la vio muy bien antendida. Estamos muy contentos con ella. Repetimos seguro.”</p> 
      </div>
    </div>
</div>
</div>




    <!--========================================================== -->
			    <!-- FAQ -->
    <!--========================================================== -->




{% endblock %}
