{% extends "layout.html" %}
{% load static %}
{% load mi_tienda %}
{% block contenedor %} 
    <div class="container">
        <div class="row">
       <div class="col-12" style="padding-top: 70px;">
    <h1 class="tituloSeccion">Seleccione los productos que desea agregar:</h1>

        </div>
        {% for producto in los_productos %}

        <div class=" col-12 col-lg-4" > 
            <div class="card" style="width: 18rem;">
                <img src="/media/{{producto.imagen}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{producto.producto}}</h5>
                  <p class="card-text">{{ producto.descripcion | slice:":95" }}</p>
                        {% if request.session.el_pedido %}
                  <span class="estadoCompra">{{ producto | en_pedido:request.session.el_pedido }}</span>
                                    {% endif %} 


                <hr/>
                <form action="/templatetags1" method="post">{% csrf_token %}
                     <input hidden type="text" name="producto" value ="{{producto.id}}"/>
                     <input type="submit" class="float-right btn btn-primary" value="Agregar"/>   
                </form>
                </div>
              </div>
       </div>
                {% endfor %}

</div>
</div>

<script type="text/javascript" src={% static "js/jquery.js" %}></script>
{% endblock %}
