{% extends "layout.html" %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row">
      <div class="col-12 prueba" style="padding-top:80px;">

      </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-12 prueba">
        <section id="todos_los_productos" class ="row" >
            <h2>Seleccionar producto</h2>
            <hr/>
            <div id="contenedor_filtros" class="row">
               <div id="filtros_productos"  class="col-xs-12">
                   <form id="searchr-form"   action="" method="post" >{% csrf_token  %}
                       <div class="campo_busqueda col-xs-12 "  >
                           {{ search }}
                           <input type="button" id="boton_prod" value="Buscar"/>
                       </div>
                    </form>
               </div>
            </div>







            <div id="contenedor_filtrado" class="col-xs-10 col-sm-offset-2 col-sm-8  
                                              col-md-offset-4 col-md-4 "></div>
        </section>
      </div>
  </div>
</div>
<div class="container">
<div class="row">
    <div class="col-12 prueba" style="padding-bottom: 250px;">
       
    </div>
</div>
</div>
  <div class="container">
      <div class="row">
          <div class="col-12 prueba" style="padding-top:200px;">
dic 
          </div>
      </div>
  </div>
<script type="text/javascript" src="{% static 'JS/jquery-3.6.1.js' %}"></script> 
<script
      src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
      integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
<script type="text/javascript">
  $('#id_querycom').autocomplete({source:"/buscar_libro/"});
</script>
<script type="text/javascript" src="{% static 'JS/ajax.js' %}"></script>

<script type="text/javascript" src="{% static 'JS/autoc/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'JS/jquery-ui.min.js' %}"></script> 


<script>

$( "#boton_prod" ).click(function(){
	valor = $( "#id_querycom" ).val();
	respuestproducto(valor)
    console.log(respuestproducto(valor))
});
function respuestproducto(valor){
    $.ajax({
        beforeSend : function(xhr, settings){
			if(!csrfSafeMethod(settings.type) && !this.crossDomain){
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
			}
		},
		url : "/tienda/",
		type : "GET",
		data : { valor : valor,},
		success : function(json){
            valor_retornado = "<h2 style='text-align:center;'>"+json[0].producto+"</h2>"+ "<img style='width:100%;' src='/media/" + json[0].ruta_imagen + "'/>"
            $('#contenedor_filtrado').html(valor_retornado);
            console.log(json[0].producto);
		},
		error : function(xhr, errmsg, err){
			console.log('Error en carga de respuesta');
		},
    });
}
</script>


{% endblock  %}
{% block scripts %}
{% endblock %}
 




