{% extends "layout.html" %}
{% load static %}
{% block tienda %} 

<div class="container-fluid fondo-formulario p-4" style=" background-image:url({% static "img/patron1.jpg" %});" >
    <div class="card border border-radius shadow m-3">
        <div class="card-title border m-4 p-3 bg-light " style="width: 80%;" >
            <h1>{{producto.producto}}</h1>
          </div>
            <img src="/media/{{producto.imagen}}" class="mx-auto img-responsive" style="width: 15rem;">

            <div class="container border border-radius">
                
            <h5 class="card-title">Descripción:
            </h5>
            <!-- <p class="card-text"> {{producto.descripcion}}</p> -->
            {{producto.descripcion|safe}}

            <div class="container  border border-radius row">
                <div class="col">
                    <h5 class="card-title">$ {{producto.precio}}</h5>
                </div>
                <div class="col">
                    {% if producto.descuento == 0 %} 
                    <h5 class="card-title">El producto no tiene descuento.</h5>
                    {% else %}
                    <h5 class="card-title">Descuento: {{producto.descuento}}</h5>
                    {% endif %}
                 </div>
             </div>
            <h5 class="card-title">Categoría: {{producto.categoria}}   </h5>



          </div>
          <div class="container  w-md-50 w-75 my-3">
                    {% if producto.categoria == 'Alimentos' %} 
                <a href="{% url 'Alimentos' %}" class="btn w-100 btn-primary rounded" style="margin-top: 10px;">Comprar producto</a>
                <a href="{% url 'Alimentos' %}" class="btn w-100 btn-secondary rounded" style="margin-top: 10px;">Volver a la tienda</a>
                    {% elif producto.categoria == 'Accesorios' %} 
                <a href="{% url 'Accesorios' %}" class="btn w-100 btn-primary rounded" style="margin-top: 10px;">Comprar producto</a>
                <a href="{% url 'Accesorios' %}" class="btn w-100 btn-secondary rounded" style="margin-top: 10px;">Volver a la tienda</a>
                    {% else %}
                <a href="{% url 'Farmacia' %}" class="btn w-100 btn-primary rounded" style="margin-top: 10px;">Comprar producto</a>
                <a href="{% url 'Farmacia' %}" class="btn w-100 btn-secondary rounded" style="margin-top: 10px;">Volver a la tienda</a>
                    {% endif %}
            </div> 
      </div>



</div>


{% endblock %}
