{% extends "layout.html" %}
{% load static %}
{% block tienda %} 

<!-- <div class="container"> -->
<div class="container-fluid fondo-formulario" style=" background-image:url({% static "img/patron1.jpg" %});" >

    <div class="card border rounded shadow m-4 p-3" style="width: 38rem;" >
          <h1>Estos son nuestros productos:</h1>
    </div>
  <div class="container d-flex flex-wrap align-items-center p-3 m-4">
          {% for producto in productos %}

    <div class="card m-3 border rounded shadow" style="width: 240px; height: 240px;">
      <img class="card-img-top justify-content-center" src="/media/{{producto.imagen}}" alt="Card image cap" style="width: 50%">
          <div class="card-body">
            <h5 class="card-title"> {{producto.producto}}  </h5>
            <p class="card-text"> {{producto.categoria}} </p>
          </div>
            <a href="{% url 'ver' producto.id %}" class="btn btn-primary" style="margin-top: 10px;">Ver Producto </a>
    </div>

          {% endfor %}

</div>
</div>


{% endblock %}
