//Navbar
#mainNav{ .nav-link{
    color: $color1 ;
  }
  .active{
  font-weight: bold;}
  #logo{
    width: 6rem;
    height: auto;
  }
}

.card {
    background-color:$color2;
    border-radius: 50%;
    
    #logo-simple{
    width:10rem;
    height: auto;
    border-radius: 20%;
    }


  }


.enlace-seccion{
     text-decoration: none;
     color: #000;
}





.user-comment{
    border-radius: 50px;
    width: 100px;
    position: relative;
  }
.read-more {font-weight: bold; 
          cursor: pointer; 
          text-decoration: none;}
  

