{% load static %}

<footer>
       <div class="container-fluid text-white p-5" style="background-color:#1C0102" >
            <div class="mx-auto">
            <div class="row">
              <div class="col-md-4">
                <div class="mw-100">
                  <div class="text-left py-2">
                    <h5>tuVeterinaria</h5>
                  </div>
                <ul style="list-style: none; margin:0; padding: 0;">
	<li class="py-2"><a style="text-decoration:none; color: aliceblue;" href="#">Tienda online</a></li>
	
	<li class="py-2"><a style="text-decoration:none; color: aliceblue;" href="#">Iniciar sesión</a></li>
      
             <li class="py-2"><a style="text-decoration:none; color: aliceblue;" href="#">Registrarme</a></li>
             <li class="py-2"><a style="text-decoration:none; color: aliceblue;" href="#">Ayuda</a></li>
         
        

                </ul>
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="text-left py-2">
                  <h5>Términos y Condiciones</h5>
                  <h6 class="py-1">Políticas de privacidad</h6>
		  <h6 class="py-1">Redes sociales:</h6>
                </div>
                <div class="container-fluid ">
                  <!-- redes sociales -->
                  <div class="row">
                    <div class="col-4">
                      <a href="https://www.instagram.com/doggyoficial1820/"><img src="{% static 'img/icon-instagram.png' %}"> </a>
                   </div>
                    <div class="col-4">
                      <a href="#"><img src="{% static 'img/icon-facebook.png' %}"> </a>
                    </div>
                    <div class="col-4">
                      <a href="https://twitter.com/AppDoggy"><img src="{% static 'img/icon-twitter.png' %}"> </a>
                    </div>
                </div>
              </div>
          </div>
          <div class="col-md-4 text-left py-2">
            <h5>Descargá nuestra aplicación:</h5>
	    <a href="#"><img style= "max-width: 220px; padding: 5px;" src="{% static 'img/icon-google-play.png' %}"></a>
	    <a href="#"><img style= "max-width: 200px; padding: 5px;" src="{% static 'img/icon-apple-store.png' %}"></a>
          </div>
        </div>
           
      </footer>
 
