{% load static %}

<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
  <a class="navbar-brand ms-3" href="#"><img id="logo" src="{% static 'img/logo veterinaria.png' %}" alt="logo de tuVeterinaria"/></a
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav p-3 ms-auto">
      <li class="nav-item">
        <a class="nav-link active" href="#" >Tienda on-line</a>
      </li>
     <li class="nav-item">
        <a class="nav-link active" href="#">Reservar Turno</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link active" href="#">Peluquería Canina</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Ayuda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Registrarme</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Iniciar sesión</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
