{% load static %}

<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <a class="navbar-brand ms-3" href="{% url 'index' %}"><img id="logo" src="{% static 'img/logo veterinaria.png' %}" alt="logo de tuVeterinaria"/></a>
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav p-3 ms-auto">


          <!-- <li class="nav-item dropdown"> -->
          <!--   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> -->
          <!--     localStorage -->
          <!--   </a> -->
          <!--   <ul class="dropdown-menu" aria-labelledby="navbarDropdown"> -->
          <!--     <li><a class="dropdown-item" href="{% url 'ejemplo_localstorage' %}">Ejemplo</a></li> -->
          <!--     <li><a class="dropdown-item" href="{% url 'templatetags1' %}">templatetags</a></li> -->
          <!--   </ul> -->
          <!-- </li> -->


          <li class="nav-item  ">
            <a class="nav-link  " href="{% url 'usar_ajax' %}"   role="button"   aria-expanded="false">
              Buscar productos
            </a>
             
          </li>




      <li class="nav-item">
          <a class="nav-link active" href="{% url 'verimagenes'  %}" >Tienda on-line</a>
      </li>
     <li class="nav-item">
        <a class="nav-link active" href="{% url 'reserva' %}">Reservar Turno</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link active" href="{% url 'peluqueria' %}">Peluquería Canina</a>
      </li>
      <li class="nav-item">
          <a class="nav-link active" href="{% url 'contacto'  %}">Contacto</a>
      </li>


<!-- Usuario autenticado(inicio) -->
      {% if user.is_authenticated %}
      <div class="text-dark text-capitalize ms-4 " id="nombre-usuario">
        <a class="nav-link" href="#services">
          <!-- <i class="fa-solid fa-user me-2"></i> -->
          {{user.username}}</a>
      </div>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout' %}">Finalizar Sesión</a>
                  </li>

<!-- Usuario autenticado(fin) -->

<!-- Usuario No autenticado(inicio) -->
        {% else %}

                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'registro' %}">Registrarme</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                  </li>
     {% endif %}
<!-- Usuario No autenticado(fin) -->




  </div>
  </div>
</nav>
